footer#rodape {
	clear: both;
    background-color: rgb(209, 209, 209);
    margin: 5px auto 0; /*Ficar centralizado*/
    padding: 0.2%;
}

footer#rodape a#link {
    color: #000000;
}

footer#rodape a#link:hover {
    color: rgb(250, 2, 2);
}

footer#rodape p {
	text-align: center;
        font-size: 9pt;
        color: #000000;
        font-family: sans-serif;
}