.my_header{
    height: 60%;
    background: #7B68EE;
    padding: 10px;
    display: flex; /*Ocupara toda linha*/
    justify-content: space-between; /*Um todo a esquerda e outro toda a direita*/
    margin-bottom: 20px; /*Para nao colar na tela*/
}

.login{
    display: flex; /*Ocupara toda linha*/
    justify-self: space-between;
    margin-top: -10px;
}

header#main-header{
    font-size: 48px;
    font-weight: bold;
    color: #FFF;
}

.IconLogInLogout {
    position: initial;
    justify-content: end;
    align-items: end;
    display: block;
    margin-right: 10px;
    background-color: #7B68EE;
    border: 2px solid #7B68EE;
    border-radius:10px; /*Arrendondar as bordas*/
    height: 40px;
    cursor: pointer; /*Muda a seta do mouse para a maozinha em cima do botao*/
}

.IconLogInLogout img  {
    height: 40px;
    background-color: #7B68EE;
}

.IconLogInLogout h2  {
    margin-top: -3px;
    font-size: 18pt;
}